:root {
  --bs-primary: #3c689e;
  --bs-primary-light:#4d93eb;
  --bs-secondary: #6e1c9e;
  --bs-secondary-light:#a836eb;
  --bs-accent:#ebd342;
}
/*font-family: 'Cinzel Decorative', cursive;
font-family: 'Cormorant Upright', serif;
font-family: 'Glory', sans-serif; */
