:root {
  --bs-primary: #3c689e;
  --bs-primary-light:#4d93eb;
  --bs-primary-light-rgb:77, 147, 235;
  --bs-secondary: #6e1c9e;
  --bs-secondary-light:#a836eb;
  --bs-accent:#ebd342;
  --text-bg:rgba(255, 255, 255, 0.3);
  --text-base: 277deg, 55%, 40%;
  --text-hover: 307deg, 72%, 86%;
  --shadow-start: 52deg, 100%, 72%;
  --shadow-end: 282deg, 90%, 50%;
  --shadow-inner: 277deg, 90%, 62%;
}
/*font-family: 'Cinzel Decorative', cursive;
font-family: 'Cormorant Upright', serif;
font-family: 'Glory', sans-serif; */
.wrapper:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0em;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  background-image: url('../images/icons/backgroun_repeat.png');
  background-repeat: repeat;
  background-size: 80px;
}
header,
main,
footer{
  position: relative;
}
/*-------Glowy button having issues with giving it class or quantifier  -----*/
button {
  all: unset;
  color: hsla(var(--text-base), 1);
  font: 700 1.125rem/1.2 Raleway, sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.85em;
  max-width: 100%;
  width: 12em;
  background: inherit;
  background-clip: padding-box;
  border: 5px solid hsla(var(--text-base), 1);
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease-out;
}
button::before, button::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
button::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}
button::after {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
  mix-blend-mode: overlay;
  opacity: 0;
}
button:hover, button:focus {
  color: hsla(var(--text-hover), 1);
  border-color: transparent;
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}
button:hover::before, button:hover::after, button:focus::before, button:focus::after {
  transform: none;
  opacity: 1;
}
.main-button{
  display: block;
  margin: 2em auto;
}
/*----------------------------Mobile 📱 --------------------*/
/*Makes nav background invisible*/ 
.bg-body-tertiary {
  --bs-bg-opacity: 0;
}
/*----Colors Dropdown menu-------*/
.dropdown-menu {
  --bs-dropdown-color: var(--bs-white);
  --bs-dropdown-bg: var(--bs-primary);
  --bs-dropdown-border-color: var(--bs-primary);
  --bs-dropdown-border-radius: 0 0 0.5rem 0.5rem;
  --bs-dropdown-link-color: var(--bs-white);
  --bs-dropdown-link-hover-color: var(--bs-gray-300);
  --bs-dropdown-link-hover-bg: rgba(var(--bs-primary-light-rgb), 0.5);
  --bs-dropdown-link-active-color: var(--bs-accent);
  --bs-dropdown-link-active-bg: var(--bs-secondary);
  position: relative;
}
/*---Dropdown background---*/
.dropdown-menu:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 3em;
  width: 100%;
  height: 75%;
  opacity: 0.1;
  background-image: url('../images/icons/backgroun_repeat.png');
  background-repeat: repeat;
  background-position: 50% 0;
  background-size: 70px;
}
/*---Brings text above Dropdown menu---*/
.dropdown-item,
.dropdown-divider,
.dropdown-title{
  position: relative;
}
/*-----bold tex on hover-----*/
.nav-link:hover,
.dropdown-item:hover{
  font-weight: 700;
}
.about-text{
  background-color: var(--text-bg);
  border-radius: 1em;
}

#footer{
  background-color: var(--bs-primary);
}
.text-body-secondary{
  color:var(--bs-light)!important;
}
/*-----Add hover animation ⏫ -----*/
footer img{
  height:2.5em;
}

/*------------for desktop
.dropdown-menu:before{
  top: 0;
  height: 100%;
}*/
body{
  height:100%;
  background: linear-gradient(0deg, var(--bs-light),var(--bs-light), var(--bs-primary) 100%) no-repeat;
}